/* Block user-profile bumping against search box now that it's got no margins */
table#stats {
	width: 55%;
	margin-top: 10px;
	font-size: 90%;
	color: #B07B5F;
}
table#stats tr {
}
table#stats td {
	padding: 0 10px;
}

.user_profile_image {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.block-eduglu_members tbody {
  border: none;
}

.block-eduglu_members h2 {
  border-bottom: 1px solid black;
}
