/* Block user-profile bumping against search box now that it's got no margins */
.block-eduglu_members {
  margin-top: -30px;
}

table#stats {
	width: 55%;
	margin-top: 10px;
	font-size: 90%;
	color: #B07B5F;
}
table#stats tr {
}
table#stats td {
	padding: 0 10px;
}

.user_profile_image {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

ul.links {
	margin-top: 19px;
	float: left;
	font-size: 1.2em;
}